# Final Project - Phase 1

### Umar Waseem i200762, Umar Qazi i200968

### Importing Stuff

In [2]:
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

base_test_path = "D:/Study/AI/dataset/test_set/test_set"
base_train_path = "D:/Study/AI/dataset/training_data/training_data"

### Reading Cluster Map (Region Information)

In [3]:
cluster_map_path = "/cluster_map/cluster_map"
cluster_map_column_names = ['RegionHash', 'RegionID']
cluster_map = pd.read_csv(base_train_path + cluster_map_path, sep='\t', names=cluster_map_column_names)

        RegionID
count  66.000000
mean   33.500000
std    19.196354
min     1.000000
25%    17.250000
50%    33.500000
75%    49.750000
max    66.000000

In [3]:
cluster_map

                          RegionHash  RegionID
0   90c5a34f06ac86aee0fd70e2adce7d8a         1
1   f2c8c4bb99e6377d21de71275afd6cd2         2
2   58c7a4888306d8ff3a641d1c0feccbe3         3
3   b26a240205c852804ff8758628c0a86a         4
4   4b9e4cf2fbdc8281b8a1f9f12b80ce4d         5
..                               ...       ...
61  a735449c5c09df639c35a7d61fad3ee5        62
62  0a5fef95db34383403d11cb6af937309        63
63  bf44d327f0232325c6d5280926d7b37d        64
64  825a21aa308dea206adb49c4b77c7805        65
65  1ecbb52d73c522f184a6fc53128b1ea1        66

[66 rows x 2 columns]

### Reading POI Data

In [4]:
poi_data_path = "/poi_data/poi_data"
poi_data = pd.read_csv(base_train_path + poi_data_path, sep='\t', header=None, on_bad_lines="skip")
column_names = ['RegionHash'] + [f'class_{i}' for i in range(1, len(poi_data.columns))]
poi_data.columns = column_names

In [5]:
poi_data

,RegionHash,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9,...,class_129,class_130,class_131,class_132,class_133,class_134,class_135,class_136,class_137,class_138
0,74c1c25f4b283fa74a5514307b0d0278,1#11:2241,1#10:249,24:1245,25:3652,20:33449,22:2324,23:913,4:13031,8:166,...,24#1:133713,13#4:19173,2#8:166,2#4:249,2#5:1079,2#6:1245,2#7:1826,2#1:83,2#2:9213,2#3:415
1,08f5b445ec6b29deba62e6fd8b0325a6,20#7:249,20#5:83,2#7:166,20#2:747,20#1:996,16#12:1245,16#10:2158,16#11:415,20#8:249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4b7f6f4e2bf237b6cc58f57142bea5c0,4#16:249,24:913,25:332,20:4316,22:415,4:2158,5#4:83,5#3:166,5#1:332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a814069db8d32f0fa6e188f41059c6e1,1#11:498,24:332,25:581,20:5810,22:2407,4:1494,8:83,5#1:581,8#2:996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8316146a6f78cc6d9f113f0390859417,20#7:581,20#5:83,20#4:415,20#2:166,20#1:664,16#12:332,16#10:747,16#11:498,20#8:913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,73ff8ef735e1d68f0cdcbb84d788f2b6,20#7:581,20#6:83,20#5:332,20#4:166,20#2:415,20#1:1992,16#12:581,16#10:498,16#11:332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,1ecbb52d73c522f184a6fc53128b1ea1,4#16:249,3#5:83,24:166,25:415,20:4731,22:332,23:166,4:1743,8:83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,fff4e8465d1e12621bc361276b6217cf,20#7:1494,20#5:249,20#4:1660,8#4:747,20#1:1494,16#12:332,16#10:581,20#8:3818,23#3:83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,b05379ac3f9b7d99370d443cfd5dcc28,4#16:166,1#10:332,24:1411,25:1826,20:37433,22:2324,23:2241,4:9628,5#4:83,...,13#5:83,11#2:4482,2#4:166,2#5:913,2#6:3237,2#7:996,2#1:415,2#2:7387,2#3:332,21#1:83
60,fc34648599753c9e74ab238e9a4a07ad,4#16:498,1#10:166,24:996,25:1411,20:32951,22:1079,23:747,4:7636,8:332,...,2#6:415,2#7:1079,2#1:498,2#2:4731,21#2:83,21#1:83,NaN,NaN,NaN,NaN

### Reading Weather Data

#### Weather Data Files

In [6]:
weather_data_test_paths = [
    "/weather_data/weather_data_2016-01-23_test",
    "/weather_data/weather_data_2016-01-25_test",
    "/weather_data/weather_data_2016-01-27_test",
    "/weather_data/weather_data_2016-01-29_test",
    "/weather_data/weather_data_2016-01-31_test"
]

weather_data_train_paths = [
    "/weather_data/weather_data_2016-01-01",
    "/weather_data/weather_data_2016-01-02",
    "/weather_data/weather_data_2016-01-03",
    "/weather_data/weather_data_2016-01-04",
    "/weather_data/weather_data_2016-01-05",
    "/weather_data/weather_data_2016-01-06",
    "/weather_data/weather_data_2016-01-07",
    "/weather_data/weather_data_2016-01-08",
    "/weather_data/weather_data_2016-01-09",
    "/weather_data/weather_data_2016-01-10",
    "/weather_data/weather_data_2016-01-11",
    "/weather_data/weather_data_2016-01-12",
    "/weather_data/weather_data_2016-01-13",
    "/weather_data/weather_data_2016-01-14",
    "/weather_data/weather_data_2016-01-15",
    "/weather_data/weather_data_2016-01-16",
    "/weather_data/weather_data_2016-01-17",
    "/weather_data/weather_data_2016-01-18",
    "/weather_data/weather_data_2016-01-19",
    "/weather_data/weather_data_2016-01-20",
    "/weather_data/weather_data_2016-01-21",
]

weather_data_column_names = ['Time', 'Weather', 'Temperature', 'PM2.5']

#### Picking Up Weather Data From Files And Arranging

In [7]:
weather_data = pd.concat(
    [
        pd.read_csv(base_train_path + path, header=None, sep='\t', names=weather_data_column_names) 
        for path in weather_data_train_paths
    ]
)

#### See The Weather Data

In [8]:
weather_data

                   Time  Weather  Temperature  PM2.5
0   2016-01-01 00:00:28        1          4.0    177
1   2016-01-01 00:05:24        1          3.0    177
2   2016-01-01 00:10:08        1          3.0    177
3   2016-01-01 00:15:27        1          3.0    177
4   2016-01-01 00:20:06        1          3.0    177
..                  ...      ...          ...    ...
42  2016-01-21 23:35:24        2          1.0     58
43  2016-01-21 23:40:46        2          1.0     59
44  2016-01-21 23:45:44        2          1.0     59
45  2016-01-21 23:50:31        2          1.0     59
46  2016-01-21 23:55:26        2          1.0     59

[4811 rows x 4 columns]

### Reading Order Data

#### Order Data Files

In [9]:
order_data_test_paths = [
    "/order_data/test_order_data_2016-01-23",
    "/order_data/test_order_data_2016-01-25",
    "/order_data/test_order_data_2016-01-27",
    "/order_data/test_order_data_2016-01-29",
    "/order_data/test_order_data_2016-01-31"
]

order_data_train_paths = [
    "/order_data/order_data_2016-01-01",
    "/order_data/order_data_2016-01-02",
    "/order_data/order_data_2016-01-03",
    "/order_data/order_data_2016-01-04",
    "/order_data/order_data_2016-01-05",
    "/order_data/order_data_2016-01-06",
    "/order_data/order_data_2016-01-07",
    "/order_data/order_data_2016-01-08",
    "/order_data/order_data_2016-01-09",
    "/order_data/order_data_2016-01-10",
    "/order_data/order_data_2016-01-11",
    "/order_data/order_data_2016-01-12",
    "/order_data/order_data_2016-01-13",
    "/order_data/order_data_2016-01-14",
    "/order_data/order_data_2016-01-15",
    "/order_data/order_data_2016-01-16",
    "/order_data/order_data_2016-01-17",
    "/order_data/order_data_2016-01-18",
    "/order_data/order_data_2016-01-19",
    "/order_data/order_data_2016-01-20",
    "/order_data/order_data_2016-01-21",
]

#### Picking Up Order Data From Files And Arranging

In [10]:
order_data_column_names = ['order_id', 'driver_id', 'passenger_id', 'start_region_hash', 'dest_region_hash', 'price', 'Time']

order_data = pd.concat(
    [
        pd.read_csv(base_train_path + path, header=None,  sep='\t',  names= order_data_column_names) 
                        for path in order_data_train_paths
    ]
)

#### See The Order Data

In [11]:
order_data

,order_id,driver_id,passenger_id,start_region_hash,dest_region_hash,price,Time
0,97ebd0c6680f7c0535dbfdead6e51b4b,dd65fa250fca2833a3a8c16d2cf0457c,ed180d7daf639d936f1aeae4f7fb482f,4725c39a5e5f4c188d382da3910b3f3f,3e12208dd0be281c92a6ab57d9a6fb32,24.0,2016-01-01 13:37:23
1,92c3ac9251cc9b5aab90b114a1e363be,c077e0297639edcb1df6189e8cda2c3d,191a180f0a262aff3267775c4fac8972,82cc4851f9e4faa4e54309f8bb73fd7c,b05379ac3f9b7d99370d443cfd5dcc28,2.0,2016-01-01 09:47:54
2,abeefc3e2aec952468e2fd42a1649640,86dbc1b68de435957c61b5a523854b69,7029e813bb3de8cc73a8615e2785070c,fff4e8465d1e12621bc361276b6217cf,fff4e8465d1e12621bc361276b6217cf,9.0,2016-01-01 18:24:02
3,cb31d0be64cda3cc66b46617bf49a05c,4fadfa6eeaa694742de036dddf02b0c4,21dc133ac68e4c07803d1c2f48988a83,4b7f6f4e2bf237b6cc58f57142bea5c0,4b7f6f4e2bf237b6cc58f57142bea5c0,11.0,2016-01-01 22:13:27
4,139d492189ae5a933122c098f63252b3,NaN,26963cc76da2d8450d8f23fc357db987,fc34648599753c9e74ab238e9a4a07ad,87285a66236346350541b8815c5fae94,4.0,2016-01-01 17:00:06
...,...,...,...,...,...,...,...
474335,cafb9e232939a35864828106a9eb29de,41b1420d7eca93cae483a3cc512a3c8e,8624faec3daacfb8c25ab32fc24138ac,4725c39a5e5f4c188d382da3910b3f3f,929ec6c160e6f52c20a4217c7978f681,13.0,2016-01-21 20:14:37
474336,5cb3d303c27e40a1c299db008a12c05e,613ab06307b1a4e280f3790e8b70a465,9a03b3b33c60b2fa437a76ac97a5412f,b05379ac3f9b7d99370d443cfd5dcc28,38d5ad2d22b61109fd8e7b43cd0e8901,16.0,2016-01-21 18:32:09
474337,054490fd30b954d5d270fdccc4640d65,88c1497b0403e38f15c9d2776a7e3822,3d3354e5cf6d6d7d5a62db0a78d69e77,2407d482f0ffa22a947068f2551fe62c,62afaf3288e236b389af9cfdc5206415,27.9,2016-01-21 18:11:38
474338,361f6ea3eb5436ae5e0c16c12b9ec645,82d199a4dd2cfefb2f5e4b417e27b1d8,0ae5e59b712786b3c3796da8c8716349,d05052b4bda7662a084f235e880f50fa,90c5a34f06ac86aee0fd70e2adce7d8a,11.0,2016-01-21 18:43:55
474339,3673198e2e01435aaef317a4e43cf1fc,NaN,d3efd8d49011077144a3c5913afc8878,2407d482f0ffa22a947068f2551fe62c,62afaf3288e236b389af9cfdc5206415,18.9,2016-01-21 16:54:37

### Denormalizing

order_data ('order_id', 'driver_id', 'passenger_id', 'start_region_hash', 'dest_region_hash', 'price', 'Time')

weather_data ('Time', 'Weather', 'Temperature', 'PM2.5')

poi_data ('RegionHash', 'class')